@import "variables";

@mixin font-style{
  font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Microsoft YaHei", 微软雅黑, Arial, sans-serif;
}

@mixin border-box-sizing{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

@mixin fixed-menu{
  position: fixed;
  z-index: 900;
  width: 100%;
  vertical-align: middle;
  max-width: $max-width;
  background-color: $mercury-color-1;
}

@mixin message-content($side, $_radius...) {
  .message-from {
    text-align: $side;
  }
  .message-content {
    border-radius: $_radius;
    margin-#{$side}: .15rem;
    float: $side;
    @if $side == 'right' {
      background-color: $mercury-color-1;
      color: #ffffff;
    }
  }
}