//colors
$mercury-color-1: #89cbc1;
$mercury-color-2: #ffffff;
$mercury-color-3: #a7a692;
$mercury-color-4: #a8ce8f;
$mercury-color-5: #d5eae1;

//width
$max-width: 768px;


//height
$top-menu-height: .8rem;
$bottom-menu-height: 1rem;