@import "includes/reset";
@import "includes/variables";
@import "includes/mixins";
@import "includes/functions";
@import "includes/keyframes";

*{
  @include border-box-sizing;
}

html {
  @include font-style;
}

body {
  font-size: .3rem;
}

#app-main {
  position: relative;
  max-width: $max-width;
  margin: 0 auto;
}

.welcome-page {
  position: absolute;
  z-index: 1000;
  width: 100%;
  background-color: $mercury-color-1;
  font-size: 1.5rem;
  text-align: center;
  color: $mercury-color-2;
  animation: disappear 3s ease 1s 1 normal running forwards;
  -webkit-animation: disappear 3s ease 1s 1 normal running forwards;
}

.bottom-menu {
  position: fixed;
  bottom: 0;
  z-index: 900;
  height: $bottom-menu-height;
  width: 100%;
  max-width: $max-width;
  background-color: $mercury-color-1;
  font-size: 0;
  vertical-align: middle;
  span {
    display: inline-block;
    width: 49.8%;
    font-size: .4rem;
    line-height: $bottom-menu-height;
    text-align: center;
    vertical-align: middle;
    color: $mercury-color-2;
    &:nth-of-type(2) {
      width: 1px;
      height: $bottom-menu-height - .2rem;
      background-color: $mercury-color-2;
    }
  }
}

.login-field {
  text-align: center;
  padding: 1rem .5rem;
  background-color: $mercury-color-1;
  min-height: inherit;
  h2 {
    font-size: .5rem;
    font-weight: 100;
    margin-bottom: .8rem;
    color: $mercury-color-2;
  }
  input {
    display: block;
    margin: .05rem auto;
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 8px;
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 0 10px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 0 10px;
    width: 5rem;
    height: .8rem;
    font-size: .4rem;
    color: $mercury-color-3;
    padding: .1rem .2rem;
    &[type=text]{
      border-radius: .15rem .15rem 0 0;
    }
    &[type=password]{
      border-radius: 0 0 .15rem .15rem;
    }
    &[type=button]{
      background-color: $mercury-color-1;
      color: $mercury-color-2;
      margin: .3rem auto;
      border:{
        radius: .15rem;
        color: $mercury-color-2;
        width: 2px;
        style: solid;
      };
      &.loading{
        background-color: darken($mercury-color-1,20%);
        border-color: darken($mercury-color-2,10%);
      }
    }
  }
}
